{% extends "@Client/layout.html.twig" %}


{% block content %}

<!-- Page Heading & Breadcrumbs  -->
<div class="page-heading-breadcrumbs">
    <div class="container">
        <h2>Match Detail</h2>
        <ul class="breadcrumbs">
            <li><a href="{{ path('client_homepage') }}">Home</a></li>
            <li>Match Detail</li>
        </ul>
    </div>
</div>
<!-- Page Heading & Breadcrumbs  -->

<!-- Page Heading banner -->

<div class="inner-banner style-2 overlay-dark theme-padding parallax-window" data-appear-top-offset="600" data-parallax="scroll" data-image-src="images/inner-banner/img-04.jpg">
    <div class="container">
        <div class="pager-heading match-detail h-white">
            {% for match in matchs1 %}

              <span class="pull-left">
                    <img src="{{ asset('images/flags/' ~match.idEquipe1.drapeau ) }}"
                         class="img-rounded" alt="p1" width="80" height="80">
                  <p></p>
                   <h2>{{ match.idEquipe1.nom }}</h2>
                  </span>
            <div class="match-vs-heading position-center-center">

                <h2>match  Detail</h2>
                <span>vs</span>
                <div class="location-marker">
                    <ul>
                        <li><i class="fa fa-map-marker"></i>{{ match.date.format("d/m/Y") }} {{ match.time|date('H:i') }}</li>
                        <li><i class="fa fa-map-marker"></i>{{ match.idStade.nom }}</li>
                    </ul>
                </div>

            </div>
            <span class="pull-right">
                <img src="{{ asset('images/flags/' ~match.idEquipe2.drapeau ) }}"
                     class="img-rounded" alt="p1" width="80" height="80">
                <p></p>
                <h2>{{ match.idEquipe2.nom }}</h2>
                </span>
            {% endfor %}
        </div>

    </div>
</div>

<!-- Page Heading banner -->

<!-- Main Content -->
<main class="main-content">

    <!-- Match Detail -->
    <div class="theme-padding white-bg">
        <div class="container">
            <div class="row">

                <!-- Match Detail Content -->
                <div class="col-lg-9 col-md-9 col-sm-7 col-xs-12">
                    <div class="upcoming-fixture">
                        <div class="table-responsive">
                    <table class="table table-bordered">

                        <tr class="h3">
                            <td><strong>Joueur</strong></td>
                            <td><strong>Carton</strong></td>
                            <td><strong>But</strong></td>
                            <td><strong>Temps de l'evenement</strong></td>
                            <td><strong>Equipe</strong></td>
                        </tr>
                        {% for evenement in evenements %}
                        <tr>

                                <td><img src="http://localhost/PI/image/{{ evenement.idJoueurParticipant.idJoueur.image }}"
                                         class="img-rounded" alt="p1" width="100" height="100"><br>
                                    {{ evenement.idJoueurParticipant.idJoueur.nom }} {{ evenement.idJoueurParticipant.idJoueur.prenom }}</td>
                            {% if evenement.carton==("Jaune") %}
                                <td><img src="{{ asset('images/Carton_jaune.png') }}"
                                          alt="p1" width="30" height="30"></td>
                                {% elseif evenement.carton==("Rouge") %}
                                    <td><img src="{{ asset('images/Carton_rouge.png') }}"
                                              alt="p1" width="30" height="30"></td>
                                    {% else %}
                                <td></td>
                                    {% endif %}
                                {% if evenement.but==1 %}
                                <td><img src="{{ asset('images/but.png') }}"
                                         class="img-circle" alt="p1" width="30" height="30"></td>
                                    {% else %}
                                        <td></td>
                                        {% endif %}
                                <td>            {{ evenement.temps }}'</td>
                               <td><img src="http://localhost/PI/Flags/{{ evenement.idJoueurParticipant.idJoueur.idEquipe.drapeau }}"
                                        class="img-rounded" alt="p1" width="100" height="80"></td>

                        </tr>
                        {% endfor %}
                    </table>
                        </div>
                    </div>




                    <div class="blog-grid-view">
                        <h2>Related Match</h2>
                        <div class="row">

                            <!-- Post Img -->
                            <div class="col-lg-4 col-xs-12">

                                <!-- Post Img -->
                                <div class="large-post-img">
                                    <img src="{{ asset('images/blog-grid-view/img-01.jpg') }}" alt="">
                                </div>
                                <!-- Post Img -->

                                <!-- Post Detail -->
                                <div class="large-post-detail style-3">
                                    <span class="red-color">Englis FA Cup </span>
                                    <h2><a href="#">Man United reunion for Ibrahimovic, Mourinho Klopp plots</a></h2>
                                </div>
                                <!-- Post Detail -->

                                <!-- Post Detail Bottom -->
                                <div class="detail-btm">
                                    <span>on Jun 27, 2014 </span>
                                    <div class="share-option pull-right">
                                        <span id="share-btn2"><i class="fa fa-share-alt"></i>Share</span>
                                        <div id="show-social-icon2" class="on-hover-share">
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Post Detail Bottom -->

                            </div>
                            <!-- Post Img -->

                            <!-- Post Video -->
                            <div class="col-lg-4 col-xs-12">

                                <!-- Post Img -->
                                <div class="large-post-img video-post">
                                    <img src="{{ asset('images/blog-grid-view/img-02.jpg') }}" alt="">
                                    <span class="play-lable fa fa-video-camera"></span>
                                    <a class="position-center-center play-icon" href="http://www.youtube.com/watch?v=cH6kxtzovew" data-rel="prettyPhoto[video]"><i class="fa fa-video-camera"></i></a>
                                </div>
                                <!-- Post Img -->

                                <!-- Post Detail -->
                                <div class="large-post-detail style-3">
                                    <span class="red-color">Englis FA Cup </span>
                                    <h2><a href="#">Man United reunion for Ibrahimovic, Mourinho Klopp plots</a></h2>
                                </div>
                                <!-- Post Detail -->

                                <!-- Post Detail Bottom -->
                                <div class="detail-btm">
                                    <span>on Jun 27, 2014 </span>
                                    <div class="share-option pull-right">
                                        <span id="share-btn3"><i class="fa fa-share-alt"></i>Share</span>
                                        <div id="show-social-icon3" class="on-hover-share">
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Post Detail Bottom -->

                            </div>
                            <!-- Post Video -->

                            <!-- Post Img -->
                            <div class="col-lg-4 col-xs-12">

                                <!-- Post Img -->
                                <div class="large-post-img">
                                    <img src="{{ asset('images/blog-grid-view/img-03.jpg') }}" alt="">
                                </div>
                                <!-- Post Img -->

                                <!-- Post Detail -->
                                <div class="large-post-detail style-3">
                                    <span class="red-color">Englis FA Cup </span>
                                    <h2><a href="#">Man United reunion for Ibrahimovic, Mourinho Klopp plots</a></h2>
                                </div>
                                <!-- Post Detail -->

                                <!-- Post Detail Bottom -->
                                <div class="detail-btm">
                                    <span>on Jun 27, 2014 </span>
                                    <div class="share-option pull-right">
                                        <span id="share-btn5"><i class="fa fa-share-alt"></i>Share</span>
                                        <div id="show-social-icon5" class="on-hover-share">
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Post Detail Bottom -->

                            </div>
                            <!-- Post Img -->

                        </div>
                    </div>
                    <!-- Blog Grid View -->

                </div>
                <!-- Match Detail Content -->

                <!-- Aside -->
                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">

                    <!-- Aside Widget -->
                    <div class="aside-widget">
                        <a href="#"><img src="{{ asset('images/adds.jpg') }}" alt=""></a>
                    </div>
                    <!-- Aside Widget -->

                    <!-- Aside Widget -->
                    <div class="aside-widget">
                        <h3><span>Popular Matches</span></h3>
                        <div class="Popular-news">
                            <ul>
                                <li>
                                    <img src="{{ asset('images/popular-news/img-01.jpg') }}" alt="">
                                    <h5><a href="#">Two touch penalties, imaginary cards</a></h5>
                                    <span class="red-color"><i class="fa fa-clock-o"></i>22 Feb, 2016</span>
                                </li>
                                <li>
                                    <img src="{{ asset('images/popular-news/img-02.jpg') }}" alt="">
                                    <h5><a href="#">Two touch penalties, imaginary cards</a></h5>
                                    <span class="red-color"><i class="fa fa-clock-o"></i>22 Feb, 2016</span>
                                </li>
                                <li>
                                    <img src="{{ asset('images/popular-news/img-03.jpg') }}" alt="">
                                    <h5><a href="#">Two touch penalties, imaginary cards</a></h5>
                                    <span class="red-color"><i class="fa fa-clock-o"></i>22 Feb, 2016</span>
                                </li>
                                <li>
                                    <img src="{{ asset('images/popular-news/img-04.jpg') }}" alt="">
                                    <h5><a href="#">Two touch penalties, imaginary cards</a></h5>
                                    <span class="red-color"><i class="fa fa-clock-o"></i>22 Feb, 2016</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Aside Widget -->

                    <!-- Aside Widget -->
                    <div class="aside-widget">
                        <div class="aside-post">

                            <!-- Post Img -->
                            <div class="large-post-img video-post">
                                <img src="{{ asset('images/aside-post.jpg') }}" alt="">
                                <span class="play-lable fa fa-video-camera"></span>
                                <a class="position-center-center play-icon" href="http://www.youtube.com/watch?v=cH6kxtzovew" data-rel="prettyPhoto[video]"><i class="fa fa-video-camera"></i></a>
                            </div>
                            <!-- Post Img -->

                            <!-- Post Detail -->
                            <div class="large-post-detail">
                                <h2><a href="#">Somehow there wa enough distaste presumption of it) to</a></h2>
                                <span class="red-color">22 Feb, 2016</span>
                            </div>
                            <!-- Post Detail -->

                        </div>
                    </div>
                    <!-- Aside Widget -->

                    <!-- Aside Widget -->
                    <div class="aside-widget">
                        <h3><span>Tag clouds</span></h3>
                        <div class="tag-clouds">
                            <ul>
                                <li><a href="#">Scores</a></li>
                                <li><a href="#">transfers</a></li>
                                <li><a href="#">teams</a></li>
                                <li><a href="#">cups</a></li>
                                <li><a href="#">All News</a></li>
                                <li><a href="#">Photos</a></li>
                                <li><a href="#">Videos</a></li>
                                <li><a href="#">match</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Aside Widget -->

                    <!-- Aside Widget -->
                    <div class="aside-widget">
                        <h3><span>instagram</span></h3>
                        <div class="instgram-writer">
                            <img src="{{ asset('images/instgram-imgs/instgram-writer.jpg') }}" alt="">
                            <p>@domainnamein spiration from all over the world</p>
                        </div>
                        <div class="instgram-imgs">
                            <ul>
                                <li><a href="#"><img src="{{ asset('images/instgram-imgs/img-01.jpg') }}" alt=""></a></li>
                                <li><a href="#"><img src="{{ asset('images/instgram-imgs/img-02.jpg') }}" alt=""></a></li>
                                <li><a href="#"><img src="{{ asset('images/instgram-imgs/img-03.jpg') }}" alt=""></a></li>
                                <li><a href="#"><img src="{{ asset('images/instgram-imgs/img-04.jpg') }}" alt=""></a></li>
                                <li><a href="#"><img src="{{ asset('images/instgram-imgs/img-05.jpg') }}" alt=""></a></li>
                                <li><a href="#"><img src="{{ asset('images/instgram-imgs/img-06.jpg') }}" alt=""></a></li>
                                <li><a href="#"><img src="{{ asset('images/instgram-imgs/img-07.jpg') }}" alt=""></a></li>
                                <li><a href="#"><img src="{{ asset('images/instgram-imgs/img-08.jpg') }}" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Aside Widget -->

                </div>
                <!-- Aside -->

            </div>
        </div>
    </div>
    <!-- Match Detail -->

</main>
<!-- Main Content -->

{% endblock %}