{% extends "@Client/layout.html.twig" %}
{% block content %}
    <div class="page-heading-breadcrumbs">
        <div class="container">
            <h2>{{ equipe.nom }} </h2>
            <ul class="breadcrumbs">
                <li><a href="{{ path('client_homepage') }}">Home</a></li>
                <li><a href="{{ path('indexEquipe') }}">Tableau des équipes</a></li>
                <li>{{ equipe.nom }}</li>
            </ul>
        </div>
    </div>
    <!-- Page Heading & Breadcrumbs  -->
    <!-- Page Heading banner -->
    <div class="overlay-dark theme-padding parallax-window" data-appear-top-offset="600" data-parallax="scroll" data-image-src="images/inner-banner/img-03.jpg">
    </div>
    <!-- Page Heading banner -->
    <main class="main-content">
        <div class="team-detail-holder theme-padding white-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-5">
                        <div class="team-column without-hover">
                            <img src="http://localhost/Pi/image/{{ equipe.drapeau }}" alt="" height=416 width=269>
                            <span class="player-number">{{ equipe.pts }}</span>
                            <div class="team-detail">
                                <h5>{{ equipe.nom }}</h5>
                                <span class="desination">Defender</span>
                                <div class="detail-inner">
                                    <ul>
                                        <li>progress</li>
                                        <li>points</li>
                                        <li>groupe</li>
                                        <li>entraineur</li>
                                        <li>nb match joue</li>
                                        <li>Fallow us on</li>
                                    </ul>
                                    <ul>
                                        <li>{{ equipe.progress }}</li>
                                        <li>{{ equipe.pts }}</li>
                                        <li>{{ equipe.idGroupe.nom }}</li>
                                        <li>{{ equipe.idEntraineur.nom }} {{ equipe.idEntraineur.prenom }}</li>
                                        <li>{{ equipe.nbMatchJoue }}</li>
                                        <li>
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-7">

                        <!-- Team Detail Content -->
                        <div class="team-detail-content theme-padding-bottom">
                            <h2>{{ equipe.idEntraineur.nom }} {{ equipe.idEntraineur.prenom }}</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eaque ut veritatis voluptas voluptatum! Animi consequuntur eos et quia repellendus vero! Architecto culpa cum dignissimos est facere, mollitia nesciunt repellendus?
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem blanditiis culpa deserunt dicta facilis fugit impedit minima perspiciatis unde! Ad autem beatae fuga in iste iure porro quia quod.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolorem impedit, necessitatibus pariatur repellat rerum vitae. Aliquid dolor ea illum incidunt ipsam magni minus nihil numquam provident recusandae similique, soluta.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio facilis natus, provident repellat sed vel voluptatum! Doloribus est, officia! Aperiam consequuntur ducimus eos explicabo minima minus nulla obcaecati quos, reprehenderit?
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, adipisci, animi beatae blanditiis cum cupiditate dolor eligendi expedita impedit iste, maxime nemo neque omnis placeat rerum saepe soluta ullam ut?
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cupiditate dignissimos distinctio eveniet fugit illo, illum qui quisquam unde voluptatum! Autem deserunt dignissimos illum incidunt molestiae omnis quis reiciendis velit?
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores consequuntur cupiditate dicta distinctio dolorem dolores, dolorum earum fuga laboriosam neque quasi qui quia quo reprehenderit temporibus voluptates! Adipisci, molestias?
                            </p>
                            <div class="tags-holder">
                                <ul class="tags-list pull-left">
                                    <li><i class="fa fa-tags"></i>Tags</li>
                                    <li><a href="#">Scores</a></li>
                                    <li><a href="#">transfers</a></li>
                                    <li><a href="#">teams</a></li>
                                    <li><a href="#">cups</a></li>
                                </ul>
                                <ul class="social-icons pull-right">
                                    <li>Share this post</li>
                                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                    <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Detail Content -->
            <br>
            <div class="row">
                <div class="col-lg-9 col-sm-12 pull-right top-palyer">
                    <h2>Les joueurs de {{ equipe.nom }}</h2>
                    <div class="row">
                        {% for joueur in joueurs %}
                            <div class="col-lg-3 col-sm-4 col-xs-6 r-full-width">
                                <div class="team-column">
                                    <img src="http://localhost/Pi/image/{{ joueur.image }}" alt="" width=269 height=350>
                                    <span class="player-number">{{ joueur.poste }}</span>
                                    <div class="team-detail">
                                        <h5><a href="{{ path('Info_joueur',{'id':joueur.id}) }}">{{ joueur.nom }}</a></h5>
                                        <span class="desination">{{ joueur.nom }}</span>
                                        <div class="detail-inner">
                                            <ul>
                                                <li>nom</li>
                                                <li>prenom</li>
                                                <li>age</li>
                                                <li>poste</li>
                                                <li>club</li>
                                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                    <li>Suivre {{ joueur.nom }}</li>
                                                {% endif %}
                                                <li>Followed</li>
                                            </ul>
                                            <ul>
                                                <li>{{ joueur.nom }}</li>
                                                <li>{{ joueur.prenom }}</li>
                                                <li>{{ joueur.age }}</li>
                                                <li>{{ joueur.poste }} </li>
                                                <li>{{ joueur.club }}</li>
                                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                <li>
                                                    {% if joueur in abonnements %}
                                                        <a href='{{ path('S_Abonner',{'id':joueur.id}) }}'>Désabonner</a>
                                                    {% else %}
                                                        <a href='{{ path('S_Abonner',{'id':joueur.id}) }}'>S'abonner</a>
                                                    {% endif %}
                                                </li>
                                                <li>
                                                    {{ joueur.rating|rating(5) }}
                                                </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>
        $(function(){
            console.log("aaaa");
            var labelWasClicked = function labelWasClicked(){
                var input = $(this).siblings().filter('input');
                if (input.attr('disabled')) {
                    return;
                }
                input.val($(this).attr('data-value'));
            };

            var turnToStar = function turnToStar(){
                if ($(this).find('input').attr('disabled')) {
                    return;
                }
                var labels = $(this).find('div');
                labels.removeClass();
                labels.addClass('star');
            };

            var turnStarBack = function turnStarBack(){
                var rating = parseInt($(this).find('input').val());
                if (rating > 0) {
                    var selectedStar = $(this).children().filter('#rating_star_'+rating)
                    var prevLabels = $(selectedStar).nextAll();
                    prevLabels.removeClass();
                    prevLabels.addClass('star-full');
                    selectedStar.removeClass();
                    selectedStar.addClass('star-full');
                }
            };

            $('.star, .rating-well').click(labelWasClicked);
            $('.rating-well').each(turnStarBack);
            $('.rating-well').hover(turnToStar,turnStarBack);

        });
    </script>
{% endblock %}