{% extends "@Client/layout.html.twig" %}
{% block content %}
    <div class="page-heading-breadcrumbs">
        <div class="container">
            <h2>Tableau des équipes</h2>
            <ul class="breadcrumbs">
                <li><a href="{{ path('client_homepage') }}">Home</a></li>
                <li>tableau des équipes</li>
            </ul>
        </div>
    </div>
    <!-- Page Heading & Breadcrumbs  -->
    <!-- Page Heading banner -->
    <div class="overlay-dark theme-padding parallax-window" data-appear-top-offset="600" data-parallax="scroll" data-image-src="images/inner-banner/img-03.jpg">
    </div>
    <!-- Page Heading banner -->
    <!-- Main Content -->
    <main class="main-content">
        <!-- Team Width Sidebar -->
        <div class="team-grid theme-padding white-bg">
            <div class="container">
                <h2>Les Equipes</h2>
                <div class="row">
                    {% for equipe in equipes %}
                    <div class="col-lg-3 col-sm-4 col-xs-6 r-full-width">
                        <div class="team-column">
                            <img src="http://localhost/Pi/Flags/{{ equipe.drapeau }}" alt="" height=269 width=416>
                            <span class="player-number">{{ equipe.pts }}</span>
                            <div class="team-detail">
                                <h5><a href="{{ path('Info_equipe',{'id':equipe.id}) }}">{{ equipe.nom }}</a></h5>
                                <span class="desination">{{ equipe.nom }}</span>
                                <div class="detail-inner">
                                    <ul>
                                        <li>progress</li>
                                        <li>points</li>
                                        <li>groupe</li>
                                        <li>entraineur</li>
                                        <li>nb match joue</li>
                                        <li>Follow us on</li>
                                    </ul>
                                    <ul>
                                        <li>{{ equipe.progress }}</li>
                                        <li>{{ equipe.pts }}</li>
                                        <li>{{ equipe.idGroupe.nom }}</li>
                                        <li>{{ equipe.idEntraineur.nom }} {{ equipe.idEntraineur.prenom }}</li>
                                        <li>{{ equipe.nbMatchJoue }}</li>
                                        <li>
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}