{% extends "@Client/layout2.html.twig" %}

{% block content %}
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"> <a href="{{ path('dashboard') }}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Equipes</a> <a href="{{ path('gestion_equipe') }}" class="current">Gestion Equipe</a> </div>
            <h1 style="text-align: center">Gestion Equipe</h1>
        </div>
        <div class="container-fluid">
            Recherche: <input type="text" placeholder="rechercher un joueur" id="searchbar">
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="widget-box">
                    <div class="widget-content nopadding">
                        <div class="widget-content nopadding">
                            <table class="table table-bordered" id="DataTables_Table_0">
                                <thead>
                                <tr>
                                    <th>Drapeau</th>
                                    <th>Nom</th>
                                    <th>Entraineur</th>
                                    <th>Points</th>
                                    <th>Qualification</th>
                                    <th>Progress</th>
                                    <th>NB match joué</th>
                                    <th>Groupe</th>
                                    <th>Modifier</th>
                                    <th>Supprimer</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for equipe in equipes %}
                                    <tr>
                                        <td><img src="http://localhost/Pi/image/{{ equipe.drapeau }}" width="35%"></td>
                                        <td>{{ equipe.nom }}</td>
                                        <td>{{ equipe.idEntraineur.nom }}</td>
                                        <td>{{ equipe.pts }}</td>
                                        <td>{{ equipe.qualification }}</td>
                                        <td>{{ equipe.progress }}</td>
                                        <td>{{ equipe.nbMatchJoue }}</td>
                                        <td>{{ equipe.idGroupe.nom }}</td>
                                        <td><a href="{{ path('modifier_equipe',{'id':equipe.id}) }}"><button class="btn btn-primary">Modifier</button></a></td>
                                        <td><a href="{{ path('Delete_equipe',{'id':equipe.id}) }}"><button class="btn btn-danger">Supprimer</button></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('jquery-3.2.1.min.js') }}"></script>
    <script>
        $('#searchbar').keyup(function(){
            // Declare variables
            var input, filter, table, tr, td, a, b, i;
            input = document.getElementById("searchbar");
            filter = input.value.toUpperCase();
            table = document.getElementById("DataTables_Table_0");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                a = tr[i].getElementsByTagName("td")[1];
                b = tr[i].getElementsByTagName("td")[2];
                if ( (a) || (b) ) {
                    if ((a.innerHTML.toUpperCase().indexOf(filter) > -1) || (b.innerHTML.toUpperCase().indexOf(filter) > -1)) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";

                    }
                }
            }
        })
    </script>
{% endblock %}