{% extends "@Client/layout.html.twig" %}


{% block content %}
    <!-- Page Heading & Breadcrumbs  -->
    <div class="page-heading-breadcrumbs">
        <div class="container">
            <h2>Tableau des équipes</h2>
            <ul class="breadcrumbs">
                <li><a href="{{ path('client_homepage') }}">Home</a></li>
                <li>Team Grid</li>
            </ul>
        </div>
    </div>
    <!-- Page Heading & Breadcrumbs  -->
    <!-- Page Heading banner -->
    <div class="overlay-dark theme-padding parallax-window" data-appear-top-offset="600" data-parallax="scroll" data-image-src="images/inner-banner/img-03.jpg">
    </div>
    <!-- Page Heading banner -->

    <!-- Main Content -->
    <main class="main-content">

        <!-- Team Width Sidebar -->
        <div class="team-grid theme-padding white-bg">
            <div class="container">
                <h2>Top Palyer</h2>
                <div class="row">

                    <!-- Team Column -->
                    <div class="col-lg-3 col-sm-4 col-xs-6 r-full-width">
                        <div class="team-column">
                            <img src="{{ asset('images/team/img-01.jpg') }}" alt="">
                            <span class="player-number">12</span>
                            <div class="team-detail">
                                <h5><a href="#">Lionel Andrés Messi</a></h5>
                                <span class="desination">Defender</span>
                                <div class="detail-inner">
                                    <ul>
                                        <li>Born</li>
                                        <li>Position</li>
                                        <li>Squad number</li>
                                        <li>Previous Club</li>
                                        <li>Fallow us on</li>
                                    </ul>
                                    <ul>
                                        <li>August 31, 1988</li>
                                        <li>Goalkeeper</li>
                                        <li>13</li>
                                        <li>Atletico Nacional</li>
                                        <li>
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Column -->

                    <!-- Team Column -->
                    <div class="col-lg-3 col-sm-4 col-xs-6 r-full-width">
                        <div class="team-column">
                            <img src="{{ asset('images/team/img-02.jpg') }}" alt="">
                            <span class="player-number">12</span>
                            <div class="team-detail">
                                <h5><a href="#">Lionel Andrés Messi</a></h5>
                                <span class="desination">Defender</span>
                                <div class="detail-inner">
                                    <ul>
                                        <li>Born</li>
                                        <li>Position</li>
                                        <li>Squad number</li>
                                        <li>Previous Club</li>
                                        <li>Fallow us on</li>
                                    </ul>
                                    <ul>
                                        <li>August 31, 1988</li>
                                        <li>Goalkeeper</li>
                                        <li>13</li>
                                        <li>Atletico Nacional</li>
                                        <li>
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Column -->

                    <!-- Team Column -->
                    <div class="col-lg-3 col-sm-4 col-xs-6 r-full-width">
                        <div class="team-column">
                            <img src="{{ asset('images/team/img-03.jpg') }}" alt="">
                            <span class="player-number">12</span>
                            <div class="team-detail">
                                <h5><a href="#">Lionel Andrés Messi</a></h5>
                                <span class="desination">Defender</span>
                                <div class="detail-inner">
                                    <ul>
                                        <li>Born</li>
                                        <li>Position</li>
                                        <li>Squad number</li>
                                        <li>Previous Club</li>
                                        <li>Fallow us on</li>
                                    </ul>
                                    <ul>
                                        <li>August 31, 1988</li>
                                        <li>Goalkeeper</li>
                                        <li>13</li>
                                        <li>Atletico Nacional</li>
                                        <li>
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Column -->

                    <!-- Team Column -->
                    <div class="col-lg-3 col-sm-4 col-xs-6 r-full-width">
                        <div class="team-column">
                            <img src="{{ asset('images/team/img-04.jpg') }}" alt="">
                            <span class="player-number">12</span>
                            <div class="team-detail">
                                <h5><a href="#">Lionel Andrés Messi</a></h5>
                                <span class="desination">Defender</span>
                                <div class="detail-inner">
                                    <ul>
                                        <li>Born</li>
                                        <li>Position</li>
                                        <li>Squad number</li>
                                        <li>Previous Club</li>
                                        <li>Fallow us on</li>
                                    </ul>
                                    <ul>
                                        <li>August 31, 1988</li>
                                        <li>Goalkeeper</li>
                                        <li>13</li>
                                        <li>Atletico Nacional</li>
                                        <li>
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Column -->

                    <!-- Team Column -->
                    <div class="col-lg-3 col-sm-4 col-xs-6 r-full-width">
                        <div class="team-column">
                            <img src="{{ asset('images/team/img-04.jpg') }}" alt="">
                            <span class="player-number">12</span>
                            <div class="team-detail">
                                <h5><a href="#">Lionel Andrés Messi</a></h5>
                                <span class="desination">Defender</span>
                                <div class="detail-inner">
                                    <ul>
                                        <li>Born</li>
                                        <li>Position</li>
                                        <li>Squad number</li>
                                        <li>Previous Club</li>
                                        <li>Fallow us on</li>
                                    </ul>
                                    <ul>
                                        <li>August 31, 1988</li>
                                        <li>Goalkeeper</li>
                                        <li>13</li>
                                        <li>Atletico Nacional</li>
                                        <li>
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Column -->

                    <!-- Team Column -->
                    <div class="col-lg-3 col-sm-4 col-xs-6 r-full-width">
                        <div class="team-column">
                            <img src="{{ asset('images/team/img-03.jpg') }}" alt="">
                            <span class="player-number">12</span>
                            <div class="team-detail">
                                <h5><a href="#">Lionel Andrés Messi</a></h5>
                                <span class="desination">Defender</span>
                                <div class="detail-inner">
                                    <ul>
                                        <li>Born</li>
                                        <li>Position</li>
                                        <li>Squad number</li>
                                        <li>Previous Club</li>
                                        <li>Fallow us on</li>
                                    </ul>
                                    <ul>
                                        <li>August 31, 1988</li>
                                        <li>Goalkeeper</li>
                                        <li>13</li>
                                        <li>Atletico Nacional</li>
                                        <li>
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Column -->

                    <!-- Team Column -->
                    <div class="col-lg-3 col-sm-4 col-xs-6 r-full-width">
                        <div class="team-column">
                            <img src="{{ asset('images/team/img-02.jpg') }}" alt="">
                            <span class="player-number">12</span>
                            <div class="team-detail">
                                <h5><a href="#">Lionel Andrés Messi</a></h5>
                                <span class="desination">Defender</span>
                                <div class="detail-inner">
                                    <ul>
                                        <li>Born</li>
                                        <li>Position</li>
                                        <li>Squad number</li>
                                        <li>Previous Club</li>
                                        <li>Fallow us on</li>
                                    </ul>
                                    <ul>
                                        <li>August 31, 1988</li>
                                        <li>Goalkeeper</li>
                                        <li>13</li>
                                        <li>Atletico Nacional</li>
                                        <li>
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Column -->

                    <!-- Team Column -->
                    <div class="col-lg-3 col-sm-4 col-xs-6 r-full-width">
                        <div class="team-column">
                            <img src="{{ asset('images/team/img-01.jpg') }}" alt="">
                            <span class="player-number">12</span>
                            <div class="team-detail">
                                <h5><a href="#">Lionel Andrés Messi</a></h5>
                                <span class="desination">Defender</span>
                                <div class="detail-inner">
                                    <ul>
                                        <li>Born</li>
                                        <li>Position</li>
                                        <li>Squad number</li>
                                        <li>Previous Club</li>
                                        <li>Fallow us on</li>
                                    </ul>
                                    <ul>
                                        <li>August 31, 1988</li>
                                        <li>Goalkeeper</li>
                                        <li>13</li>
                                        <li>Atletico Nacional</li>
                                        <li>
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Column -->

                    <!-- Team Column -->
                    <div class="col-lg-3 col-sm-4 col-xs-6 r-full-width">
                        <div class="team-column">
                            <img src="{{ asset('images/team/img-01.jpg') }}" alt="">
                            <span class="player-number">12</span>
                            <div class="team-detail">
                                <h5><a href="#">Lionel Andrés Messi</a></h5>
                                <span class="desination">Defender</span>
                                <div class="detail-inner">
                                    <ul>
                                        <li>Born</li>
                                        <li>Position</li>
                                        <li>Squad number</li>
                                        <li>Previous Club</li>
                                        <li>Fallow us on</li>
                                    </ul>
                                    <ul>
                                        <li>August 31, 1988</li>
                                        <li>Goalkeeper</li>
                                        <li>13</li>
                                        <li>Atletico Nacional</li>
                                        <li>
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Column -->

                    <!-- Team Column -->
                    <div class="col-lg-3 col-sm-4 col-xs-6 r-full-width">
                        <div class="team-column">
                            <img src="{{ asset('images/team/img-02.jpg') }}" alt="">
                            <span class="player-number">12</span>
                            <div class="team-detail">
                                <h5><a href="#">Lionel Andrés Messi</a></h5>
                                <span class="desination">Defender</span>
                                <div class="detail-inner">
                                    <ul>
                                        <li>Born</li>
                                        <li>Position</li>
                                        <li>Squad number</li>
                                        <li>Previous Club</li>
                                        <li>Fallow us on</li>
                                    </ul>
                                    <ul>
                                        <li>August 31, 1988</li>
                                        <li>Goalkeeper</li>
                                        <li>13</li>
                                        <li>Atletico Nacional</li>
                                        <li>
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Column -->

                    <!-- Team Column -->
                    <div class="col-lg-3 col-sm-4 col-xs-6 r-full-width">
                        <div class="team-column">
                            <img src="{{ asset('images/team/img-03.jpg') }}" alt="">
                            <span class="player-number">12</span>
                            <div class="team-detail">
                                <h5><a href="#">Lionel Andrés Messi</a></h5>
                                <span class="desination">Defender</span>
                                <div class="detail-inner">
                                    <ul>
                                        <li>Born</li>
                                        <li>Position</li>
                                        <li>Squad number</li>
                                        <li>Previous Club</li>
                                        <li>Fallow us on</li>
                                    </ul>
                                    <ul>
                                        <li>August 31, 1988</li>
                                        <li>Goalkeeper</li>
                                        <li>13</li>
                                        <li>Atletico Nacional</li>
                                        <li>
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Column -->

                    <!-- Team Column -->
                    <div class="col-lg-3 col-sm-4 col-xs-6 r-full-width">
                        <div class="team-column">
                            <img src="{{ asset('images/team/img-04.jpg') }}" alt="">
                            <span class="player-number">12</span>
                            <div class="team-detail">
                                <h5><a href="#">Lionel Andrés Messi</a></h5>
                                <span class="desination">Defender</span>
                                <div class="detail-inner">
                                    <ul>
                                        <li>Born</li>
                                        <li>Position</li>
                                        <li>Squad number</li>
                                        <li>Previous Club</li>
                                        <li>Fallow us on</li>
                                    </ul>
                                    <ul>
                                        <li>August 31, 1988</li>
                                        <li>Goalkeeper</li>
                                        <li>13</li>
                                        <li>Atletico Nacional</li>
                                        <li>
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Column -->

                    <!-- Team Column -->
                    <div class="col-lg-3 col-sm-4 col-xs-6 r-full-width">
                        <div class="team-column">
                            <img src="{{ asset('images/team/img-04.jpg') }}" alt="">
                            <span class="player-number">12</span>
                            <div class="team-detail">
                                <h5><a href="#">Lionel Andrés Messi</a></h5>
                                <span class="desination">Defender</span>
                                <div class="detail-inner">
                                    <ul>
                                        <li>Born</li>
                                        <li>Position</li>
                                        <li>Squad number</li>
                                        <li>Previous Club</li>
                                        <li>Fallow us on</li>
                                    </ul>
                                    <ul>
                                        <li>August 31, 1988</li>
                                        <li>Goalkeeper</li>
                                        <li>13</li>
                                        <li>Atletico Nacional</li>
                                        <li>
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Column -->

                    <!-- Team Column -->
                    <div class="col-lg-3 col-sm-4 col-xs-6 r-full-width">
                        <div class="team-column">
                            <img src="{{ asset('images/team/img-03.jpg') }}" alt="">
                            <span class="player-number">12</span>
                            <div class="team-detail">
                                <h5><a href="#">Lionel Andrés Messi</a></h5>
                                <span class="desination">Defender</span>
                                <div class="detail-inner">
                                    <ul>
                                        <li>Born</li>
                                        <li>Position</li>
                                        <li>Squad number</li>
                                        <li>Previous Club</li>
                                        <li>Fallow us on</li>
                                    </ul>
                                    <ul>
                                        <li>August 31, 1988</li>
                                        <li>Goalkeeper</li>
                                        <li>13</li>
                                        <li>Atletico Nacional</li>
                                        <li>
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Column -->

                    <!-- Team Column -->
                    <div class="col-lg-3 col-sm-4 col-xs-6 r-full-width">
                        <div class="team-column">
                            <img src="{{ asset('images/team/img-02.jpg') }}" alt="">
                            <span class="player-number">12</span>
                            <div class="team-detail">
                                <h5><a href="#">Lionel Andrés Messi</a></h5>
                                <span class="desination">Defender</span>
                                <div class="detail-inner">
                                    <ul>
                                        <li>Born</li>
                                        <li>Position</li>
                                        <li>Squad number</li>
                                        <li>Previous Club</li>
                                        <li>Fallow us on</li>
                                    </ul>
                                    <ul>
                                        <li>August 31, 1988</li>
                                        <li>Goalkeeper</li>
                                        <li>13</li>
                                        <li>Atletico Nacional</li>
                                        <li>
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Column -->

                    <!-- Team Column -->
                    <div class="col-lg-3 col-sm-4 col-xs-6 r-full-width">
                        <div class="team-column">
                            <img src="{{ asset('images/team/img-01.jpg') }}" alt="">
                            <span class="player-number">12</span>
                            <div class="team-detail">
                                <h5><a href="#">Lionel Andrés Messi</a></h5>
                                <span class="desination">Defender</span>
                                <div class="detail-inner">
                                    <ul>
                                        <li>Born</li>
                                        <li>Position</li>
                                        <li>Squad number</li>
                                        <li>Previous Club</li>
                                        <li>Fallow us on</li>
                                    </ul>
                                    <ul>
                                        <li>August 31, 1988</li>
                                        <li>Goalkeeper</li>
                                        <li>13</li>
                                        <li>Atletico Nacional</li>
                                        <li>
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Column -->

                </div>
            </div>
        </div>
        <!-- Team Width Sidebar -->

    </main>
    <!-- Main Content -->
{% endblock %}
