{% extends "@Client/layout.html.twig" %}
{% block content %}
    <div class="page-heading-breadcrumbs">
        <div class="container">
            <h2>Tableau des joueurs</h2>
            <ul class="breadcrumbs">
                <li><a href="{{ path('client_homepage') }}">Home</a></li>
                <li>tableau des joueurs</li>
            </ul>
        </div>
    </div>
    <!-- Page Heading & Breadcrumbs  -->
    <!-- Page Heading banner -->
    <div class="overlay-dark theme-padding parallax-window" data-appear-top-offset="600" data-parallax="scroll" data-image-src="images/inner-banner/img-03.jpg">
    </div>
    <!-- Page Heading banner -->
    <!-- Main Content -->
    <main class="main-content">
        <!-- Team Width Sidebar -->
        <div class="team-grid theme-padding white-bg">
            <div class="container">
                <h2>Les Joueurs</h2>
                <form method="POST" action="">
                    <input type="text" id="recherche" placeholder="rechercher un joueur" >
                </form>
                <div id="div">
                </div>
            </div>
        </div>
    </main>
    <script src="{{ asset('jquery-3.2.1.min.js') }}"></script>
    <script>
        $('#recherche').keyup(
            function () {
                var texte = $('#recherche').val();
                var DATA = 'recherche='+texte;
                $.ajax({
                    type : "POST",
                    url : "{{ path('tout_les_joueur') }}",
                    data:DATA,
                    success: function (data) {
                        console.log(data);
                        $('#div').html("<div class='row' id='bloc_joueurs'>"+
                            "</div>");
                        var abonnements = [] ;
                        {% if abonnements!=null %}
                        {% for abonnement in abonnements %}
                        abonnements.push({{ abonnement.id }});
                        {% endfor %}
                        {% endif %}
                        $.each(data,function (k,el) {
                            var id=el.id;
                            var path="{{ path('Info_joueur',{'id':'id_'}) }}" ;
                            var path_abonnement="{{ path('S_Abonner',{'id':'id_'}) }}";
                            var aux=false ;
                            if(abonnements.indexOf(el.id)!=-1){
                                aux=true ;
                            }
                            else
                                aux=false;
                            path = path.replace('id_',id);
                            path_abonnement = path_abonnement.replace('id_',id);
                            ch="<div class='col-lg-3 col-sm-4 col-xs-6 r-full-width'>"+
                                "<div class='team-column'>"+
                                "<img src='http://localhost/Pi/image/"+ el.image +"' alt='' height=269 width=416>"+
                                "<span class='player-number'>"+ el.numero +"</span>"+
                                "<div class='team-detail'>"+
                                "<h5><a href='"+path+"' >"+ el.nom +"</a></h5>"+
                                "<span class='desination'>"+el.nom +"</span>"+
                                "<div class='detail-inner'>"+
                                "<ul>"+
                                "<li>nom</li>"+
                                "<li>prenom</li>"+
                                "<li>age</li>"+
                                "<li>poste</li>"+
                                "<li>club</li>"+
                                "<li>Equipe</li>"+
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                "<li>Suivre "+el.nom+"</li>"+
                                    {% endif %}
                                "</ul>"+
                                "<ul>"+
                                "<li>"+ el.nom +"</li>"+
                                "<li>"+ el.prenom +"</li>"+
                                "<li>"+ el.age +"</li>"+
                                "<li>"+ el.poste +"</li>"+
                                "<li>"+ el.club +"</li>"+
                                "<li>"+ el.idEquipe.nom +"</li>"+
                                "<li>"+
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                "<li>" ;
                                    if(aux)
                                    ch+="<a href='"+path_abonnement+"'>Désabonner</a>";
                                    else
                                    ch+="<a href='"+path_abonnement+"'>S'abonner</a>";
                                 ch+="</li>";
                                    {% endif %}
                                ch+="</li>"+
                                "</ul>"+
                                "</div>"+
                                "</div>"+
                                "</div>"+
                                "</div>" ;
                            $('#bloc_joueurs').append(
                                ch
                            );
                        })
                    }
                })
            }
        )
    </script>
{% endblock %}